# Database
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_URL=

# Redis
RD_HOST=
RD_PASSWORD=
RD_PORT=

# Web server configuration
WEB_SERVER_PORT=
WEB_SERVER_HOST=
WEB_SERVER_URL=

GIN_MODE=debug # debug || release

PATH_UPLOADS=
URL_UPLOADS=

# JWT configuration
JWT_SECRET_KEY=
JWT_EXPIRES_IN=